/* main部分 */
main.shoppingCartMain{
    width: 1100px;
    margin: 0 auto;
}

/* main部分的heading */
div.mainHeading{
    height: 35px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}

/* 左边logo部分的容器 */
div.mainHeadingLogoContainer{
    width: 181px;
}

/* 包围logo的a标签容器 */
a.mainHeadingLink{
    position: relative;
    display: block;
    width: 181px;
    height: 35px;
}

/* main部分heading的logo */
i.mainHeadingLogo{
    position: absolute;
    top: 0;
    left: 0;
    width: 181px;
    height: 45px;
    background: url('../widget/mainHeading.png') no-repeat 0px 0px;
}

/* main部分heading的右边搜索面板 */
div.mainHeadingSearchPanel{
    position: absolute;
    top: 20px;
    right: 0;
    boxbox-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 515px;
    height: 35px;
    background-color: #f50;
}

div.mainHeadingSearchPanel .searchType{
    float: left;
    width: 74px;
    height: 29px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    line-height: 29px;
    margin: 3px 0px 3px 3px;
    background-color: #f5f5f5;
}

div.mainHeadingSearchPanel .searchType ul{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
div.mainHeadingSearchPanel .searchType ul:hover{
    border-bottom: 1px solid #e5e5e5;
}
/* ul悬停状态下显示列表 */
div.mainHeadingSearchPanel .searchType ul:hover li{
    display: block;
}

div.mainHeadingSearchPanel .searchType .searchTypeLi{
    padding-left: 15px;
    display: none;
    background: #fff;
}
div.mainHeadingSearchPanel .searchType .selected{
    display: block;
    background: #f5f5f5;
}
div.mainHeadingSearchPanel .searchType .searchTypeLi:hover{
    background: #f5f5f5;
}

div.mainHeadingSearchPanel .searchType .searchTypeLi a{
    color: #6b6b6b;
}

div.mainHeadingSearchPanel .searchType .arrow{
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url('../widget/mainHeading.png') no-repeat 0px -47px;
    margin-left: 10px;
}

/* 搜索输入框外围div容器 */
div.mainHeadingSearchPanel .searchInputBox{
    float: left;
    width: 343px;
    height: 29px;
    margin: 3px 0;
    background: #fff;
    padding: 0 10px;
}
div.mainHeadingSearchPanel .searchInputBox .searchInput{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
}
div.mainHeadingSearchPanel .searchInputBox .searchIcon{
    position: absolute;
    top: 12px;
    left: 85px;
    width: 12px;
    height: 12px;
    background: url('../widget/mainHeading.png') no-repeat 0px -56px;
    display: none;
}

/* 搜索按钮 */
div.mainHeadingSearchPanel .searchButtonBox{
    float: left;
    width: 75px;
    height: 29px;
    text-align: center;
    padding: 3px 0;
}
div.mainHeadingSearchPanel .searchButtonBox .searchButton{
    float: left;
    width: 75px;
    background: #f50;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

/* 购物车主体部分 */

/* 3个选项列表 */
div.cartContainer .cartFilterBar .cartFilterTypeLi{
    float: left;
    font-size: 0;
    -webkit-text-size-adjust: none;
    padding-bottom: 15px;
    cursor: no-drop;
}
div.cartContainer .cartFilterBar .cartFilterTypeLi a.filterLink{
    margin-left: 15px;
    cursor: no-drop;
}
div.cartContainer .cartFilterBar .cartFilterTypeLi a.filterLink .filterTypeTitle{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
div.cartContainer .cartFilterBar .cartFilterTypeLi a.filterLink .filterTypeNumber{
    font-size: 16px;
    margin: 0 30px 0 5px;
}
div.cartContainer .cartFilterBar .cartFilterTypeLi a.filterLink i{
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #e8e8e8;
}
/* 当前选中列表的样式 */
div.cartContainer .cartFilterBar .selected{
    cursor: pointer;
}
div.cartContainer .cartFilterBar .selected a.filterLink{
    color: #f40;
    cursor: pointer;
}

/* 右侧快捷栏 */
div.cartContainer .cartFilterBar .filterShortcuts{
    float: right;
    height: 36px;
    line-height: 36px;
    font-size: 0;
    -webkit-text-size-adjust: none;
}
div.cartContainer .cartFilterBar .filterShortcuts span{
    font-size: 14px;
}
div.cartContainer .cartFilterBar .filterShortcuts .filterNumber{
    color: #f40;
    font-weight: bold;
    margin: 0 5px;
}
div.cartContainer .cartFilterBar .filterShortcuts .filterButton{
    height: 28px;
    background: #aaa;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
}

/* 下方线 */
div.cartContainer .cartFilterBar .filterBottomLine{
    position: relative;
    clear: both;
    height: 2px;
    background: #e6e6e6;
}
div.cartContainer .cartFilterBar .filterBottomLine .filterLine{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 123px;
    height: 2px;
    background: #f40;
}

/* cartMain 购物车主部分 */

div.cartContainer .cartMain .cartHeading{
    height: 50px;
}
/* cartHeading 购物车表头选择框 */
div.cartContainer .cartMain .cartHeading .allSelect{
    float: left;
    width: 80px;
    height: 50px;
    line-height: 50px;
}
div.cartContainer .cartMain .cartHeading .allSelect .cartCheckbox{
    float: left;
    width: 15px;
    height: 13px;
    background: url('../widget/cartMain.png') no-repeat 0 0;
    margin-top: 18px;
    margin-left: 15px;
    cursor: pointer;
}
div.cartContainer .cartMain .cartHeading .allSelect .selected{
    background-position: 0 -20px;
}
div.cartContainer .cartMain .cartHeading .allSelect .cartCheckboxLabel{
    float: left;
    margin-left: 8px;
}

/* cartHeading 购物车表头商品信息 */
div.cartContainer .cartMain .cartHeading .goodsInfo{
    float: left;
    width: 302px;
    height: 50px;
    line-height: 50px;
}
div.cartContainer .cartMain .cartHeading .goodsInfo .goodsInfoInner{
    padding-left: 90px;
}

/* cartHeading 购物车表头类型选择 */
div.cartContainer .cartMain .cartHeading .typeSelected{
    float: left;
    width: 192px;
    height: 50px;
}

/* cartHeading 购物车表头单价 */
div.cartContainer .cartMain .cartHeading .unitPrice{
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

/* cartHeading 购物车表头数量 */
div.cartContainer .cartMain .cartHeading .goodsCount{
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

/* cartHeading 购物车表头金额 */
div.cartContainer .cartMain .cartHeading .amount{
    float: left;
    width: 105px;
    height: 50px;
    line-height: 50px;
}

/* cartHeading 购物车表头操作 */
div.cartContainer .cartMain .cartHeading .operate{
    float: left;
    width: 99px;
    height: 50px;
    line-height: 50px;
}

/* 购物车商品列表开始 */

div.orderList .orderItem{
    margin-bottom: 15px;
}
/* 店铺信息 */
div.orderList .orderItem .storeInfo{
    height: 38px;
    line-height: 38px;
}
div.orderList .orderItem .storeInfo .storeAllSelect{
    float: left;
    width: 15px;
    height: 15px;
    margin: 13px 0 0 15px;
    background: url('../widget/cartMain.png') no-repeat 0 0;
    cursor: pointer;
}
div.orderList .orderItem .storeInfo>.selected{
    background-position: 0 -20px;
}
div.orderList .orderItem .storeInfo .storeIcon{
    float: left;
    width: 16px;
    height: 16px;
    margin: 11px 5px 0 8px;
}
div.orderList .orderItem .storeInfo .tmall{
    background: url('../widget/cartMain.png') no-repeat 0px -38px;
}
div.orderList .orderItem .storeInfo .gold{
    background: url('../widget/cartMain.png') no-repeat 0px -58px;
}
div.orderList .orderItem .storeInfo .storeName{
    float: left;
    font-size: 14px;
}
div.orderList .orderItem .storeInfo .wangwangIcon{
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px 0 0 15px;
    background: url('../images/wangwangicon.gif') no-repeat -82px 0px;
}
/* 优惠券 */
div.orderList .orderItem .storeInfo .coupon{
    position: relative;
    float: left;
    width: 68px;
    height: 25px;
    line-height: 25px;
    margin: 7px 0 0 5px;
    color: #f40;
    background: url('../widget/cartMain.png') -22px 0px;
    cursor: pointer;
}
div.orderList .orderItem .storeInfo .coupon span.couponText{
    float: left;
    padding-left: 11px;
}
div.orderList .orderItem .storeInfo .coupon .arrowSwitch{
    float: left;
    width: 5px;
    height: 3px;
    margin: 11px 0 0 5px;
    background: url('../widget/cartMain.png') no-repeat -97px 0px;
}
/* 点击后添加drop类，箭头变成向上的 */
div.orderList .orderItem .storeInfo .coupon .drop{
    background: url('../widget/cartMain.png') no-repeat -97px -7px;
}
/* 优惠券的详情页 */
div.orderList .orderItem .storeInfo .coupon .couponDetail{
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99;
    width: 320px;
    padding: 5px 8px;
    border: 1px solid #f40;
    cursor: auto;
    background: #fff;
    display: none;
}
/* 右上角关闭按钮 */
div.orderList .orderItem .storeInfo .coupon .couponDetail .close{
    position: absolute;
    right: 8px;
    top: 5px;
    width: 12px;
    height: 11px;
    background: url('../widget/cartMain.png') no-repeat -75px -30px;
    cursor: pointer;
}
/* 上方边角 */
div.orderList .orderItem .storeInfo .coupon .couponDetail .horn{
    position: absolute;
    top: -6px;
    left: 40px;
    width: 11px;
    height: 6px;
    background: url('../widget/cartMain.png') no-repeat -118px -10px;
}
/* 上部分 couponCount */
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponCount{
    padding: 11px 10px 6px 10px;
    color: #666;
    border-bottom: 1px solid #efefef;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponCount .trumpet{
    float: left;
    width: 8px;
    height: 9px;
    background: url('../widget/cartMain.png') no-repeat -97px -15px;
    margin: 8px 5px 0 0;
}
/* 下部分，优惠券列表 */
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList{
    color: #9c9c9c;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi{
    position: relative;
    margin: 15px 20px 15px 18px;
    padding-left: 65px;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponPic{
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    color: #fff;
    background: url('../widget/cartMain.png') no-repeat -22px -29px;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi p{
    margin: 0;
    line-height: 1;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponTitle{
    margin-bottom: 5px;
    color: #6d6d6d;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponDiscountInfo{
    font-size: 0;
    padding-bottom: 4px;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponDiscountInfo .couponDiscountText{
    float: left;
    width: 165px;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponDiscountInfo span{
    font-size: 12px;
}
/* 领取按钮 */
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponDiscountInfo .couponGet{
    margin-left: 165px;
}
div.orderList .orderItem .storeInfo .coupon .couponDetail .couponList .couponListLi .couponDiscountInfo .couponGetBtn{
    width: 47px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #666;
    font-size: 12px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}

/* 商品列表 */
div.orderList .orderItem .goodsList{
    border: 1px solid #ccc;
}
div.orderList .orderItem .goodsList .goodsItem{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    border-bottom: 1px solid #e7e7e7;
    background: #fcfcfc;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .container{
    position: relative;
    min-height: 99px;
    padding-top: 20px;
}
/* 复选框 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsSelect{
    float: left;
    width: 45px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsSelect .goodsSelectIcon{
    float: right;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: url('../widget/cartMain.png') no-repeat 0 0;
    cursor: pointer;
}
/* 商品选中的样式 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsSelect .selected{
    background-position: 0px -20px;
}
/* 图片和标题 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle{
    float: left;
    width: 302px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle .goodsPic{
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle .goodsTitleContainer{
    min-height: 99px;
    margin-left: 90px;
    padding-right: 25px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle .goodsTitleContainer .goodsTitleText a:hover{
    color: #f60;
    text-decoration: underline;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle .goodsTitleContainer .serviceIcon{
    position: absolute;
    bottom: 18px;
    height: 16px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsTitle .goodsTitleContainer .serviceIcon span{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* 颜色分类 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType{
    float: left;
    width: 172px;
    min-height: 119px;
    margin-right: 20px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .container{
    width: 172px;
    min-height: 96px;
    border: 1px dashed transparent;
}
/* 商品列表悬浮的时候，出现编辑图标，提示编辑 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .hintEdit{
    border-color: #dbebfe;
}
/* 类型悬浮的时候，出现编辑文字，高亮编辑 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .showEdit{
    border-color: #f60;
    background: #fff;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .container p{
    margin: 0 5px 0 15px;
    color: #9c9c9c;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .container .edit{
    position: absolute;
    right: -1px;
    top: -1px;
    font-size: 0;
}
/* 商品列表悬浮时显示编辑图标 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .hintEdit .edit{
    width: 19px;
    height: 17px;
    background: url('../widget/cartMain.png') no-repeat 0px -139px;
    cursor: pointer;
}
/* 类型悬浮时显示编辑文字 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .goodsType .showEdit .edit{
    width: auto;
    height: auto;
    background: #f60;
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
}

/* 单价 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .unitPrice{
    float: left;
    width: 120px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .unitPrice .container{
    padding-top: 15px;
    padding-left: 28px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .unitPrice .container .primePriceNum{
    color: #9c9c9c;
    text-decoration: line-through;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .unitPrice .container .unitPriceNum{
    font-weight: bold;
}

/* 数量 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count{
    float: left;
    width: 120px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container{
    margin-left: 25px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .countPanel{
    height: 25px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container span{
    float: left;
    width: 17px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: #f0f0f0;
    border: 1px solid #e5e5e5;
}
/* 减号加号和数字 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .reduce{
    color: #e5e5e5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: no-drop;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .increase{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .number{
    float: left;
    width: 40px;
    height: 23px;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 10px;
}
/* 超出库存提示 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .countWarning{
    width: 58px;
    padding: 5px 10px;
    background: #fff0e7;
    color: #f40;
    border: 1px solid #ffe1d3;
    text-align: center;
}
/* 没有限购、超出内存信息的话隐藏 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .count .container .hide{
    display: none;
}

/* 金额 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .amount{
    float: left;
    width: 125px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .amount .container{
    margin-left: 28px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .amount .amountNum{
    font-weight: bold;
    color: #f40;
}

/* 操作 */
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .operate{
    float: left;
    width: 99px;
    min-height: 119px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .operate .container{
    margin-left: 10px;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .operate .container p{
    padding-bottom: 10px;
    cursor: pointer;
}
div.orderList .orderItem .goodsList .goodsItem .goodsItemContainer .operate .container p:hover{
    color: #f40;
    text-decoration: underline;
}

/* 购物车底部浮动条 */
div.cartFooter{
    position: relative;
    height: 50px;
    margin: 0 auto;
}
div.cartFooter .cartFooterContainer{
    position: fixed;
    bottom: 0;
    width: 1100px;
    height: 50px;
    background: #e5e5e5;
    margin: 0 auto;
    font-size: 14px;
    z-index: 100;
}
/* 全选 */
div.cartFooter .cartFooterContainer .selectAll{
    float: left;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
div.cartFooter .cartFooterContainer .selectAll .selectAllIcon{
    float: left;
    width: 15px;
    height: 13px;
    background: url('../widget/cartMain.png') no-repeat 0 0;
    margin-top: 18px;
    cursor: pointer;
}
div.cartFooter .cartFooterContainer .selectAll .selected{
    background-position: 0 -20px;
}
div.cartFooter .cartFooterContainer .selectAll span{
    float: left;
    margin-left: 3px;
}
/* 操作 */
div.cartFooter .cartFooterContainer .operate{
    float: left;
    height: 50px;
    line-height: 50px;
}
div.cartFooter .cartFooterContainer .operate a{
    float: left;
    margin-left: 25px;
}
div.cartFooter .cartFooterContainer .operate a:hover{
    color: #f40;
    text-decoration: underline;
}

/* 右侧 */
div.cartFooter .cartFooterContainer .cartFooterRight{
    float: right;
    height: 50px;
    line-height: 50px;
}
/* 右侧数量 */
div.cartFooter .cartFooterContainer .cartFooterRight .goodsCount{
    float: left;
    cursor: pointer;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsCount span{
    float: left;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsCount .goodsCountNum{
    font-size: 18px;
    color: #f40;
    font-weight: bold;
    margin: 0px 3px;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsCount .arrowSwitch{
    float: left;
    width: 5px;
    height: 6px;
    background: url('../widget/cartMain.png') no-repeat -109px 0px;
    margin-top: 22px;
    margin-left: 5px;
}
/* 右侧合计 */
div.cartFooter .cartFooterContainer .cartFooterRight .goodsAmount{
    float: left;
    margin-left: 30px;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsAmount .goodsAmountText{
    float: left;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsAmount .goodsAmountNum{
    float: left;
    height: 50px;
    font-size: 0;
    padding: 0 3px;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsAmount .goodsAmountNum span{
    font-size: 14px;
    color: #f40;
}
div.cartFooter .cartFooterContainer .cartFooterRight .goodsAmount .goodsAmountNum span.number{
    font-size: 22px;
    font-weight: bold;
}
/* 右侧结算 */
div.cartFooter .cartFooterContainer .cartFooterRight .checkOut{
    float: left;
}
div.cartFooter .cartFooterContainer .cartFooterRight .checkOut .checkOutBtn{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #f40;
    cursor: pointer;
}

/* 商品悬浮大图 */
div.picZoom{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 240px;
    height: 240px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
    z-index: 100;
}
div.picZoom .leftArrow{
    position: absolute;
    top: 60px;
    left: -8px;
    width: 9px;
    height: 16px;
    background: url('../widget/cartMain.png') no-repeat -135px 0px;
}